/*Styles to remove white space from screen and set body to 100% of view*/
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica, Arial, sans-serif;
}
/*Background Screen taking up the entire body area*/
#screen {
    background-color: plum;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Login Container aka white box*/
.login-box {
    background-color: snow;
    height: 33%;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 30px;
    padding: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 15px 12px 7px 5px rgba(100,0,100,0.23);
}
.yourinfo {
    text-align: center;
}
.prettybutton {
    border: none;
    background-color:#56abff;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.36);

}
